.p1 {
  position: static;
  margin: auto;
  border: 0px;
  float: left;
  width: 300px;
  padding: 10px;

}
.a{
  background-image: url("/home/stone/Desktop/moringa-prep/ageName/images/ghan.jpg");
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
#form{
  margin: auto;
  width: 20%;
  border: 2px solid green;
  padding: 10px;
  color: green;
}
.input{
  margin: auto;
  width: 20%;
  border: 2px solid green;
  padding: 10px;
}
#buttons{
  margin: auto;
 width: 20%;
 padding: 10px;
 color: black;
}
#female{
  margin: auto;
  float: right;
  width: 300px;
  padding: 10px;
  color: white;
}
.male{
   margin:auto;
   color: white;
   float: none;
   width: auto;
}
